footer{
    width: 100vw;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0.5rem, 5vw, 1rem);
}
    
